# ==========================================
# 1. (Web & Server)
# ==========================================
fastapi>=0.100.0
uvicorn>=0.23.0
pydantic>=2.0.0
pydantic-settings>=2.0.0

# ==========================================
# 2. (Database)
# ==========================================
sqlalchemy>=2.0.0

# ==========================================
# 3. (Data & Quant)
# ==========================================
akshare>=1.2.0
pandas>=2.0.0
numpy>=1.24.0

# ==========================================
# 4. (LLM & Agents)
# ==========================================
langchain>=0.1.0
langchain-openai>=0.0.2
langchain-core>=0.1.10
langgraph>=0.0.20

# ==========================================
# 5.(Utils)
# ==========================================
python-dotenv>=1.0.0